* {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

body {
  margin: 20px;
}

.color61a0a8FontSize {
  font-size: 8px;
}

.color61a0a8 {
  color: #61a0a8;
}

#container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 5px
}

#index .index-header {
  padding: 5px 0 5px 20px;
  background: linear-gradient(#e0e7fc 0%,
      #ffffff 100%);
  font-size: 15px;
  display: flex;
  border-radius: 4px;
}

#index .index-header>span:first-child {
  background-color: #61a0a8;
  padding: 10px;
  border-radius: 3px;
  margin-right: 10px;
}

/*超大PC屏幕下的专用样式*/
@media screen and (min-width:1200px) {
  #index {
    width: 1200px;
    margin: 20px auto;
  }

  #index>.mokuai1>div {
    width: 180px;
    height: 250px;
  }

  #index>.mokuai2>.mokuai2_left {
    width: 680px;
  }

  #index>.mokuai2>.mokuai2_left>div {
    width: 320px;
    height: 177px;
  }

  #index>.mokuai2>.mokuai2_right {
    width: 515px;
  }

  #index>.mokuai2>.mokuai2_right>div {
    width: 515px;
    height: 370px;
  }

  .index-header-width1 {
    color: #c23531;
    width: 636px;
  }

  .index-header-width2 {
    color: #2f4554;
    width: 500px;
  }

  .border-change {
    width: 80px;
    height: 80px;
  }

  .border-change-context {
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 17px;
    left: 17px;
    font-size: 20px;
  }
}

/*中等PC屏幕下的专用样式*/
@media screen and (min-width:500px) and (max-width: 1199px) {
  #index {
    width: 1000px;
    margin: 20px auto;
  }

  #index>.mokuai1>div {
    width: 150px;
    height: 200px;
  }

  #index>.mokuai2>.mokuai2_left {
    width: 600px;
  }

  #index>.mokuai2>.mokuai2_left>div {
    width: 260px;
    height: 177px;
  }

  #index>.mokuai2>.mokuai2_right {
    width: 460px;
  }

  #index>.mokuai2>.mokuai2_right>div {
    width: 440px;
  }

  .index-header-width1 {
    color: #c23531;
    width: 516px;
  }

  .index-header-width2 {
    color: #2f4554;
    width: 425px;
  }

  .border-change {
    width: 70px;
    height: 70px;
  }

  .border-change-context {
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 12px;
    left: 12px;
    font-size: 15px;
  }
}

#index {
  margin: 20px auto;
  background-color: #fff;
  height: 700px;
  color: #777;
  font-family: "微软雅黑";
}

#index>.mokuai1>div {
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px #d0d0d0;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e8e8e8;
}



#index>.mokuai1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
  padding-top: 10px;
  border-top: 0;
  padding-bottom: 10px;
  font-size: 13px;
  transition: all .8s linear;

}

#index>.mokuai2 {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

}

#index>.mokuai2>.mokuai2_left {
  height: 400px;
  border-radius: 5px;
}

#index>.mokuai2>.mokuai2_left>div {
  float: left;
  background-color: #fff;
  box-shadow: -2px -2px 10px #d0d0d0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #444;
}

#index>.mokuai1>div>div:first-child {
  border-top: 1px solid #2f4554;
  border-bottom: 1px solid #2f4554;
  padding: 5px;
  border-radius: 4px;
}

#index>.mokuai2>.mokuai2_left>div>div:first-child {
  border-top: 1px solid #c23531;
  border-bottom: 1px solid #c23531;
  padding: 5px;
  border-radius: 4px;
}

#index .center {
  padding: 15px;
  text-align: center;
}

#index .center>div {
  font-size: 8px;
  color: #c23531;
  margin-top: 10px;
}

#index>.mokuai2>.mokuai2_left>div:first-child {
  margin: 15px 0px 15px 0px;
}

#index>.mokuai2>.mokuai2_left>div:nth-child(2) {
  margin: 15px 15px 15px 15px;
}

#index>.mokuai2>.mokuai2_left>div:nth-child(3) {
  margin: 0 0px 15px 0px;
}

#index>.mokuai2>.mokuai2_left>div:nth-child(4) {
  margin: 0 15px 15px 15px;
}

#index>.mokuai2>.mokuai2_right {
  height: 400px;
  border-radius: 5px;
}

#index>.mokuai2>.mokuai2_right>div {
  height: 358px !important;
  margin: 15px 0px 15px -5px;
  box-shadow: -2px -2px 10px #d0d0d0;
  border-radius: 5px;
  z-index: 999;
}

/* hover旋转 */
#index>.mokuai1>div:hover {
  cursor: pointer;
  transition: all .8s linear;
  color: #2f4554;
  box-shadow: 1px 1px 10px #e8e8e8;
  border: 1px solid #e8e8e8;
}

#index>.mokuai1>div:hover .border-change {
  transform: rotate(180deg);
}

#index>.mokuai2>.mokuai2_left>div:hover .border-change {
  transform: rotate(180deg);
}

#index>.mokuai2>.mokuai2_left>div:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #e8e8e8;
  transition: all .2s linear;
  color: #c23531;
}

.border-label {
  position: relative;
}

.border-label:hover .border-change {
  transform: rotate(180deg);
}

.border-changeRed {
  border-bottom-color: #c23531 !important;
  border-top-color: #f5f5f5 !important;
  border-left-color: #f5f5f5 !important;
  border-right-color: #c23531 !important;
}

.border-change {
  position: relative;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #f5f5f5;
  border-top-color: #61a0a8;
  border-left-color: #61a0a8;
  border-right-color: #f5f5f5;
  transition: all 0.8s ease-in-out;
  z-index: 2;
  cursor: pointer;
}

.border-change-context {
  position: absolute;
  text-align: center;
  z-index: 999;
  border-radius: 50%;
}